<% @order_total += (product.total_price_cents / 100.00) %>
<tr>
  <td>
    <%= image_tag product.image.tiny %>
  </td>
  <td>
    <h4><%= product.name %></h4>
    <br>
    <p><%= product.description %></p>
  </td>
  <td>
    $<%= product.item_price_cents / 100.00 %>
  </td>
  <td>
    <%= product.quantity %>
  </td>
  <td>
    $<%= product.total_price_cents / 100.00 %>
  </td>
</tr>
